.footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           color: white;
           text-align: center;
        }

.home{
        margin-top: 10px;
        text-align: center;
    }
