{% extends 'auth/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}

<!--<a href="{% url 'home' %}">Home</a> /-->
<!--<a href="{% url 'signup' %}">Sign up</a>-->
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-4">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}